<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>
      {% block title %}
      {% endblock %}
    </title>
    {% include 'first_app/partials/head.html' %}
  </head>
  <body>
    {% include 'first_app/partials/nav.html' %}
    {% block body %}

    {% endblock %}
    {% include 'first_app/partials/footer.html' %}
    {% include 'first_app/partials/copyright.html' %}
    {% include 'first_app/partials/script.html' %}
  </body>
</html>