body{
  margin: 0;
  padding: 0;
}

.main-content{
  min-height: calc(100vh - 100px);
}

footer{
  height: 80px;
  background: #ccc;
}

.copyright{
  background: #000;
  height: 20px;
  color: #fff;
}
